<p id="notice"><%= notice %></p>
<div class="page-header">
  <h1>
  	<%= @p.name %>
  	<small>
  		Fortnightly
  	</small>
  </h1>
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-success">
    <div class="panel-heading" >
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <strong> Income </strong>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <% @p.wins.each do |w| %>
					<%= render 'wins/win', :w => w, :p => @p %>
				<% end %>
				<h2>
 					Net Income: $<%= @p.income %>
				</h2>
      </div>
    </div>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <strong>  Fixed Expenses </strong>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
     		<% @p.expenses.each do |e| %>
					<%= render 'expenses/expense', :e => e, :p => @p %>
				<% end %>
				<h2>
					After Expenses: $<%= @left_overs %>
				</h2>
      </div>
    </div>
  </div>
     <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
         <strong>  Freedom </strong>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
      <% @p.freedom_items.each do |f| %>
        <%= render 'freedom_items/items', :f => f, :left_overs => @left_overs %>
      <% end %>
      <h3>
        <%= "Remaining: " + @remaining %>
      </h3>
      </div>
    </div>
  </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
         <strong>  Goals </strong>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       <%= render 'goals/goal', :g => @goal %>
      <h3>
        <%= @forecast + " @ " + @weekly_value + " " + @rate %>
      </h3>
      </div>
    </div>
  </div>
 </div>