<%= form_for(@freedom_item) do |f| %>
  <% if @freedom_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freedom_item.errors.count, "error") %> prohibited this freedom_item from being saved:</h2>

      <ul>
      <% @freedom_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
