<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @freedom_item.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @freedom_item.amount %>
</p>

<%= link_to 'Edit', edit_freedom_item_path(@freedom_item) %> |
<%= link_to 'Back', freedom_items_path %>
